$default-font-size: 1.6rem;

$primary-red-bright: hsl(12, 88%, 59%);
$primary-blue-dark: hsl(228, 39%, 23%);

$secondary-grayish-blue: hsl(227, 12%, 61%);
$secondary-very-dark-blue: hsl(233, 12%, 13%);
$secondary-pale-red: hsl(13, 100%, 96%);
