.header {
  display: flex;

  & > * {
    width: 50%;
  }

  &__text {
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__img {
    // background-image: url(../../images/illustration-intro.svg);
    background-size: cover;
    text-align: right;

    & img {
      display: block;
      max-width: 100%;
      margin-left: auto;
      object-fit: scale-down;
    }
  }

  &__paragraph {
    max-width: 350px;
  }
}
