.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__nav {
    margin: auto;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__btn {
    min-width: 146px;
    text-align: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__item {
    margin: 0 1rem;
  }

  &__link {
    font-size: $default-font-size;
    font-family: inherit;
    text-decoration: none;
    color: $primary-blue-dark;

    @include respond(tab-port) {
      padding: 1rem;
      font-size: 2.5rem;
      display: block;
    }
  }

  &__link:hover {
    color: $secondary-grayish-blue;
  }

  &__button {
    display: none;

    @include respond(tab-port) {
      display: block;
      width: 5rem;
      height: 120%;
      position: absolute;
      top: -10%;
      right: 0rem;
    }
  }

  &__icon {
    display: block;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: $primary-blue-dark;
    transition: all 0.2s ease;
    position: relative;

    &::after,
    &::before {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      background-color: $primary-blue-dark;

      transition: all 0.2s;
    }

    &::after {
      top: -1.5rem;
    }

    &::before {
      top: 1.5rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__nav > &__list {
    display: block;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    padding: 6rem 0;
    border-radius: 3px;
    text-align: center;
    background-color: yellow;
  }

  &__checkbox:checked ~ &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked ~ &__button &__icon::after {
    rotate: -135deg;
    top: 0;
  }

  &__checkbox:checked ~ &__button &__icon::before {
    top: 0;
    rotate: 135deg;
  }

  //   &__checkbox:checked ~ &__icon::after {
  //     rotate: 45deg;
  //     top: 0;
  //   }
}
