.btn {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-size: inherit;
  padding: 1rem 2rem;
  color: $secondary-pale-red;
  cursor: pointer;
  border-radius: 2rem;

  &--red {
    background-color: rgb(184, 62, 18);
  }

  &__slide {
    position: absolute;
    color: rgb(83, 81, 81);
    padding: 0.6rem 1.2rem;
    border: 1px solid rgb(104, 104, 104);
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 0;
    top: 50%;
    translate: 0 -50%;
    z-index: 100;

    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      right: 0;
    }
  }
}
