.section--about {
  display: flex;

  & > * {
    width: 50%;
  }

  & > *:nth-child(1) .heading--secondary {
    max-width: 500px;
  }
  & > *:nth-child(1) .paragraph {
    max-width: 400px;
  }
}

.section--testimonials {
  text-align: center;

  .slider {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
