.section--about {
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
  }

  & > * {
    width: 50%;
    @include respond(tab-port) {
      width: 100%;
    }
  }

  & > *:nth-child(1) .heading--secondary {
    max-width: 500px;
    @include respond(tab-port) {
      max-width: none;
      text-align: center;
      margin-right: -3rem;
    }
  }
  & > *:nth-child(1) .paragraph {
    max-width: 400px;
    @include respond(tab-port) {
      max-width: none;
      text-align: center;
      margin-bottom: 4rem;
    }
  }
}

.section--testimonials {
  text-align: center;
  overflow: hidden;
  margin-left: -10rem;
  margin-right: -10rem;
  @include respond(tab-port) {
    margin-left: 0;
    margin-right: 0;
  }

  .slider {
    position: relative;
    padding: 3rem;
    height: 250px;
    width: 50%;
    margin: auto;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}

.section--cta {
  background-color: $primary-red-bright;
  margin-left: -10rem;
  margin-right: -10rem;
  padding: 10rem;
  display: flex;
  justify-content: space-between;
  background-image: url(../../images/bg-simplify-section-desktop.svg);

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    margin-left: 0;
    margin-right: 0;
  }

  .heading--secondary {
    max-width: 50rem;
    color: $secondary-pale-red;
  }

  .btn {
    align-self: flex-end;
    @include respond(tab-port) {
      align-self: center;
    }
  }
}
