.section--about {
  display: flex;

  & > * {
    width: 50%;
  }

  & > *:nth-child(1) .heading--secondary {
    max-width: 500px;
  }
  & > *:nth-child(1) .paragraph {
    max-width: 400px;
  }
}

.section--testimonials {
  text-align: center;
  overflow: hidden;
  margin-left: -10rem;
  margin-right: -10rem;

  .slider {
    position: relative;
    padding: 3rem;
    height: 250px;
    width: 50%;
    margin: auto;
  }
}
